<!-- Formats plot page -->
<!-- script and div variables import javascript and html code from bokeh -->
<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head 
    content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- load jquery -->
    <script type=text/javascript src=
        "{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
        
    <!-- May have to update version in the future (currently 0.12.6 portion of URL) -->
    <!-- Switched from static files in /static/js to CDN URL for easier updating,
        but if load times become slow just have to download the newer files -->
    <link rel="stylesheet" type="text/css"
        href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.css">
    <link rel="stylesheet" type="text/css"
        href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.6.min.css">
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.6.min.js"></script>
</head>
<body>
    {{ html|safe }}
    <br>
    <br>
    <h1> KEY </h1>
        <p>'X' : Fit complete </p>
        <p>'1' : Live Entry in Queue (???) </p>
        <p>'2' : Dead Entry in Queue (???) </p>
        <p>'0' : Pending Entry in Queue </p>
        <p>'-1' : In Progress in Queue </p>
        <p>'NaN' : Not Fit and Not in Queue </p>
</body>
</html>
