<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head 
    content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NEMS Analysis</title>

    <!-- jquery ui plugin (resizeable divs) -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Bootstrap css -->
    <link rel="stylesheet" href=
    "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
    crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href=
    "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" 
    crossorigin="anonymous">    

    <!-- DataTables jQuery plugin -->
    <link rel="stylesheet" href=
    "https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
    
    <!-- Bokeh dependencies -->
    <link rel="stylesheet" type="text/css"
        href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.css">
    <link rel="stylesheet" type="text/css"
        href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.6.min.css">
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.6.min.js"></script>
    
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    {#
    {% assets "css_all" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}
    #}
    
  </head>

  <body>
    <!-- outer containers -->
    <div class="container-fluid">
    <div class="starter-template">
    <div class="row" id="outerRow">
    <div class="col-xs-12" id="outerCol">

    <div class="row" id="selectionsRow">
        <div class="col-xs-3" id="analysisBatchCol">
            <div class="row" id="analysisRow"><div class="col-xs-12">
                <div class="form-group" id="analysisGroup">
                    <label for="analysisSelector">
                        Select Analysis
                    </label>
                    <select class="form-control plot-form"
                            id="analysisSelector">
                        {% for analysis in analysislist %}
                        <option value="{{ analysis }}" name="{{ analysis_ids[loop.index-1] }}">
                            {{ analysis }}
                        </option>
                        {% endfor %}
                    </select>
                </div><!--form-group-->

                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default btn-xs"
                            data-toggle="popover"
                            id="analysisDetails"          
                            data-placement="bottom"
                            data-content="No Selection"
                            data-html="true">
                                Details
                    </button>
                </div>
                <div class="input-group-btn editorGroup">
                    <button type="button"
                            class="btn btn-default btn-xs"
                            data-toggle="modal"
                            id="editAnalysis"
                            data-target="#analysisEditorModal">
                                Edit
                    </button>
                </div>
                <div class="input-group-btn editorGroup">
                    <button type="button"
                            class="btn btn-default btn-xs"
                            data-toggle="modal"
                            id="newAnalysis"
                            data-target="#analysisEditorModal">
                                New
                    </button>
                </div>
                

                        <!-- modal div is at bottom of document -->
                
                <div class="input-group-btn editorGroup">
                    <button type="button"
                            class="btn btn-default btn-xs"
                            id="deleteAnalysis"> 
                                Delete
                    </button>
                </div>

                <div class="row" id="statTagRow" style="margin-top: 10px;">
                    <div class="col-xs-6" id="statCol" style="padding-right: 5px;">
                        <button type="button" data-toggle="modal" data-target="#statusModal"
                                id="statusModalButton" class="btn btn-default btn-xs"
                                style="width: 100%; white-space: normal;">
                                Status
                        </button>
                        <!--<input type='text' id='statusText' style="width: 100%; margin-top: 5px;">-->
                    </div><!-- stat column -->

                    <div class="col-xs-6" id="tagCol" style="padding-left: 5px;">
                        <button type="button" data-toggle="modal" data-target="#tagModal"
                                id="tagModalButton" class="btn btn-default btn-xs"
                                style="width: 100%; white-space: normal;">
                                Tags
                        </button>
                        <!--<input type='text' id='tagText' style="width: 100%; margin-top: 5px;">-->
                    </div><!-- tag column -->
                </div><!-- status and tag row -->
            </div></div><!-- analysis row and dummy col-->

            <div class="row" id="batchRow">
                <div class="col-xs-12">
                    <div class="form-group" id="batchDiv">
                        <label for="batchSelector">
                            Batch
                        </label>
                        <select class="form-control plot-form"
                                id="batchSelector"
                                name="batch">
                            {% for batch in batchlist %}
                            <option value="{{ batch }}">
                                {{ batch }}
                            </option>
                            {% endfor %}
                        </select>
                        <button type="button"
                                class="btn btn-default btn-xs"
                                id="batchPerformance">
                                Batch Performance
                        </button>
                            All
                        <input type="checkbox"
                                id="findAll"
                                value="1">
                    </div><!-- form-group -->
                </div><!-- batch dummy col -->
            </div><!-- batch row -->
        </div> <!-- analysis + batch col -->

        <div class="col-xs-4" id="cellModelCol">

            <div class="row" id="cellModelRow">
                <div class="col-xs-4" id="cellCol">
                    <div class="form-group" id="cellDiv">
                        <label>
                            Cell(s)
                        </label>
                        <input  type="checkbox"
                                id="selectAllCells"
                                checked>
                                    All
                        <select multiple="multiple"
                                class="form-control plot-form" 
                                name="celllist"
                                size="10"
                                id="cellSelector">
                            <option disabled value="">
                                Select a batch to populate cells.
                            </option>
                        </select>
                    </div><!-- form-group-->
                </div><!-- cell column -->

                <div class='col-xs-8' id="modelCol">
                    <div class="form-group" id="modelDiv">
                        <label for="modelSelector">
                            Model(s)
                        </label>
                        <input type="checkbox"
                               id="selectAllModels"
                               checked>
                                    All
                        <select multiple="multiple"
                                class="form-control plot-form" 
                                name="modelnames"
                                size="10"
                                id="modelSelector">
                            <option disabled value="">
                                Select an analysis to populate models.
                            </option>
                        </select>
                    </div><!-- form-group -->
                </div><!-- model column -->
            </div><!-- model and cell row -->

            <div class="row" id="modelButtonsRow"><div class='col-xs-12'>

                <div class="input-group form-inline"
                     id="modelButtons">
                    <div class="input-group-btn">
                        <button tabindex="-1"
                                class="btn btn-default btn-xs"
                                type="button"
                                id="fitSingle">
                                    Fit Single Now
                        </button>
                    </div>
                    <div class="input-group-btn">
                        <button tabindex="-1"
                                class="btn btn-default btn-xs"
                                type="button"
                                id="enqueue">
                                    Enqueue Models
                        </button>
                    </div>
                    <div class="input-group-btn">
                        <button type="button"
                                class="btn btn-default btn-xs"
                                id="fitReport"
                                tabindex="-1">
                                    Fit Report
                        </button>
                    </div>
                    <div class="input-group-btn">
                        <button tabindex="-1"
                                type="button"
                                class="btn btn-default btn-xs"
                                id="toggleFitOp">
                                    Fit Options
                        </button>
                    </div>
                </div>
                <div class="input-group form-inline"
                     id="fitOpDiv">
                        Force Rerun
                        <input type="checkbox"
                               id="forceRerun"
                               value="1">
                        Code Hash
                        <input type="text"
                               id="codeHash"
                               style="width: 85px;">
                </div>
            </div></div><!-- model buttons row and dummy col-->
        </div><!-- cell and model column -->

        <div class="col-xs-3" id="plotCol">
        <div class="row"> <!-- nested row and col for 1.5 width -->
        <div class="col-xs-7 text-left">
            <div class="row" id="measureSelectorRow"><div class="col-xs-12">
                <div class="form-group">
                    <label for="measureSelector">
                        Measure
                    </label>
                    <select class="form-control plot-form"
                            id="measureSelector" 
                            name="measure">
                        {% for measure in measurelist %}
                            <option value="{{ measure }}"
                            {% if loop.index == 0 %}
                                checked
                            {% endif %}
                            >
                                {{ measure }}
                            </option>
                        {% endfor %}
                    </select>
                    <!--
                    <div class="input-group-btn">
                        <button type="button"
                                class="btn btn-default btn-xs"
                                tabindex="-1"
                                id="togglePlotOp">
                                    Plot Options
                        </button>
                    </div>
                    -->
                </div>
            </div></div><!-- measure selector row and dummy col -->
            <div class="row" id="plotSelectorRow">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="plotTypeSelector">
                            Plot Type
                        </label>
                        <select class="form-control plot-form" 
                                id="plotTypeSelector">
                            {% for type in plotTypeList %}
                                <option value="{{ type }}">
                                    {{ type | replace('_',' ') }}
                                </option>
                            {% endfor %}
                        </select>
                        <div class="input-group-btn">
                            <button class="btn btn-default btn-xs"
                                    type="button"
                                    id="submitPlot">
                                        Submit Plot
                            </button>
                        </div>
                    </div><!-- form-group -->
            </div></div><!-- plot selector row and dummy col -->

            <div class="row" id="customScriptRow" style="text-align: center;">
            <div class='col-xs-12' id="customScriptCol">
                <div class="input-group">
                    <label for="customSelector">
                        Custom Scripts
                    </label>
                </div>
                <div class="input-group">
                    <button type="button"
                            id="reloadScripts">
                        <span class="glyphicon glyphicon-refresh">
                        </span>
                    </button>
                    <button type="button"
                            class="btn btn-default btn-xs"
                            id="submitCustom">
                                Run Script
                    </button>
                </div>
                <div class='form-group'>
                    <select class="form-control"
                            id="customSelector">
                        {% for script in scripts %}
                            <option value="{{ script }}">
                                {{ script }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div></div> <!-- custom col -->
        </div><!-- plot col -->
        <div class="col-xs-4">
            <div class="row plotOps"><div class="col">
            <div class="input-group pull-right" id="onlyFairGroup">
                <label for="onlyFair">
                    Fair?
                </label>
                <input type="checkbox"
                       id="onlyFair"
                       name="onlyFair" 
                       checked value="1">
            </div>
            </div></div>

            <div class="row plotOps"><div class="col">
            <div class="input-group pull-right" id="includeOutliersGroup">
                <label for="includeOutliers">
                    Outliers?
                </label>
                <input type="checkbox"
                       id="includeOutliers"
                       name="includeOutliers"
                       value="1">
            </div>
            </div></div>

            <div class="row plotOps"><div class="col">
            <div class="input-group pull-right" id="useGroup">
                <select class="form-control"
                        id="plotOpSelect">
                    <option value="snri">
                        SNRi
                    </option>
                    <option value="iso">
                        Iso
                    </option>
                    <option value="snr">
                        SNR
                    </option>
                </select>
            </div>
            </div></div>

            <div class="row plotOps"><div class="col">
            <div class="input-group pull-right" id="plotOpValGroup">
                <label for="plotOpVal">
                    &gt;
                </label>
                <input type="text"
                       id="plotOpVal"
                       name="plotOpVal"
                       value="0"
                       style="width: 50px;">
            </div>
            </div></div>

        </div></div><!-- nested row and col for 1.5 width -->

        </div><!-- plot col -->
        <div class='col-xs-2' id="linksCol" style="text-align: right !important;">
            <h4><a href="https://bitbucket.org/lbhb/nems" target="_blank">
            Source & Info</a></h4>
            <h4><a href="http://hyrax.ohsu.edu/celldb/celllist.php" target="_blank">
            CellDB</a></h4>
            <h4><a href="https://bitbucket.org/lbhb/nems/issues?status=new&status=open"
                   target="_blank">
                       Issue Tracker
            </a></h4>
            <!-- <h4><a href="#" id="enableDraggable">Enable Draggable</a></h4>
            <h4><a href="#" id="disableDraggable">Disable Draggable</a></h4> -->
            <br><br><br>
            <h4><a href="#">{{ username }}</a></h4>
            <h4>
                <a href="{{ url_for('login') }}" id="login">
                    {% if username %}
                        <script>
                            var login = document.getElementById('login');
                            login.style.display = 'none';
                        </script>
                    {% else %}
                        <script>
                            var login = document.getElementById('login');
                            login.style.display = 'block';
                        </script>
                        Log In
                    {% endif %}
                </a>
            </h4>
            <h4>
                <a href="{{ url_for('logout') }}" id="logout">
                    {% if username %}
                        <script>
                            var logout = document.getElementById('logout');
                            logout.style.display = 'block';
                        </script>
                        Log Out
                    {% else %}
                        <script>
                            var logout = document.getElementById('logout');
                            logout.style.display = 'none';
                        </script>
                    {% endif %}
                </a>
            </h4>
            <h4>
                <a href="{{ url_for('register') }}" id="register">
                    {% if username %}
                        <script>
                            var register = document.getElementById('register');
                            register.style.display = 'none';
                        </script>
                    {% else %}
                        <script>
                            var register = document.getElementById('register');
                            register.style.display = 'block';
                        </script>
                        Register
                    {% endif %}
                </a>
            </h4>
            <!-- unused right now - can add back in later for uploading data -->
            <!--
            <h4>
                <a href="{{ url_for('upload') }}" id="upload">
                    {% if username %}
                        <script>
                            var upload = document.getElementById('upload');
                            upload.style.display = 'block';
                        </script>
                        Upload Data
                    {% else %}
                        <script>
                            var upload = document.getElementById('upload');
                            upload.style.display = 'none';
                        </script>
                    {% endif %}
                </a>
            </h4>
            -->
            <h4>
                <a href="{{ url_for('site_map') }}" id="sitemap" target="_blank">
                    Print Site Map
                    <script>
                        var sitemap = document.getElementById('sitemap');
                        sitemap.style.display = 'none'
                    {% if seclvl is greaterthan 8 %}
                        sitemap.style.display = 'block';
                    {% endif %}
                    </script>
                </a>
            </h4>
            <button type="button" id="testGet"> Load Selections </button>
            <button type="button" id="testSave"> Save Selections </button>

            <!-- buttons for manually testing saved user selections -->
            <!--
            <button type="button" id="testSave"> Test Save </button>
            <button type="button" id="testGet"> Test Get </button>
            <button type="button" id="testPrint"> Test Print </button>
            -->
        </div>
    </div><!-- selections row -->

    <div class="row" id="mainRow">
        <div class="col-xs-8" id="leftCol">

            <div class="row" id="tableRow">
                <div class="col-xs-12" id="tableCol">

                    <div class="row" id="tableButtons">

                        <div class="col-xs-4" style="margin-right: 0px; padding-right: 0px;">
                            <div class="row" name="dummyRow">
                            <div class="col-xs-6" style="margin-right: 0px; padding-right: 0px;">
                                <button class='btn btn-default btn-sm' type="button" id="colsModalButton"
                                        data-toggle="modal" data-target="#colsModal" style="white-space: normal;">
                                    Columns
                                </button>
                            </div>

                            <div class="col-xs-6" style="margin-left: 0px; padding-left: 0px;">

                                <div class="row">
                                    <div class="col-xs-4" style="padding-right: 0px; margin-right: 0px;">
                                        <label for="sortSelector">
                                            Sort
                                        </label>
                                    </div>
                                    <div class="col-xs-8" style="margin-left: 0px; padding-left: 5px;">
                                        <select class="form-control" 
                                                name="tablecolumns"
                                                id="tableSortSelector">
                                        {% for sort in sortlist %}
                                            <option name="order-option[]"
                                                    value="{{ sort }}"
                                                {% if sort == defaultsort %}
                                                    selected
                                                {% endif %}
                                                    >
                                                    {{ sort }}
                                            </option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class='col-xs-1' style="margin-left: 0px;">
                            <label for="descending">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </label>
                            <input type="checkbox" id="descending">
                        </div>
                        <div class="col-xs-2">
                            <div class="input-group" id="rowLimitDiv">
                                <span class="input-group-addon input-sm"
                                      id="row-limit-label"
                                      size="10">
                                          Limit
                                </span>
                                <input type="text"
                                       id="rowLimit"
                                       value="{{ defaultrowlimit }}"
                                       class="form-control input-sm"
                                       style="width: 65px;">
                            </div>
                        </div>

                        <div class='col-xs-2'>
                            <div class="input-group">
                                <label for="autoPreview"
                                       id="autoPreviewLabel">
                                          Auto Preview
                                <input type="checkbox"
                                       id="autoPreview"
                                       value="1">
                            </div>
                        </label>
                        </div>

                        <div class="col-xs-3">
                <!-- open modelpane view for result(s) selected on table -->
                            <div class="input-group-btn">
                                <button tabindex="-1"
                                        class="btn btn-default btn-sm"
                                        type="button"
                                        id="inspect">
                                            Inspect
                                </button>
                            </div>
                <!-- open preview file for result(s) selected on table -->
                            <div class="input-group-btn">
                                <button tabindex="-1"
                                        class="btn btn-default btn-sm"
                                        type="button"
                                        id="preview">
                                            Preview
                                </button>
                            </div>
                <!-- clear selected rows -->
                            <div class="input-group-btn">
                                <button tabindex="-1"
                                        class="btn btn-default btn-sm"
                                        type="button"
                                        id="clearSelected">
                                            Clear
                                </button>
                            </div>
                        </div>

                    </div>

                    <div class="row" id="tableRowInner"><div class='col-xs-12' style="height: 100%; padding-bottom: 2vh;">
                        <div id="tableWrapper">
                        </div>
                    </div></div>

                </div><!-- table col -->
            </div><!-- table row -->

        </div><!-- left col -->

        <div class="col-xs-4" id="rightCol">
            <div class="row" id="displayRow"><div class='col-xs-12'>
                <div id="displayWrapper">
                </div>
                <div id="statusReportWrapper">
                </div>
            </div></div>
        </div>

    </div><!-- main row -->

    <div class="row" id="pyConRow"><div class="col-xs-12" style="height: 100%;">
        <div class="jumbotron ui-widget-content"
             id="py_console">
        </div>   
    </div></div>

    <!-- close outer containers -->
    </div>
    </div>
    </div>
    </div>


    <div class="modal" id="analysisEditorModal" tabindex="-1" role="dialog"
    aria-labelledby="analysisEditorModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="analysisEditorModalLabel"> Analysis Editor </h3>
                    <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div><!-- header -->
                <div class="modal-body">
                    
                        <div class="container-fluid">
                        <div class="form-group">

                        <div class="row">
                            <div class="col-xs-6">
                            <div class="input-group span3">
                            <span class="input-group-addon" id="editNameLabel" required>
                                    Name </span>
                            <input type="text" name="editName" placeholder="Name of Analysis"
                            class="form-control">
                            <input type="hidden" name="editId" value="__none">
                            </div>
                            </div>
                            
                            <div class="col-xs-6">
                            <div class="input-group span3">
                            <span class="input-group-addon" id="editStatusLabel">
                                    Status </span>
                            <input type="text" name="editStatus" placeholder="Status"
                            class="form-control">
                            </div>
                            </div>
                        </div><!-- row -->
                        
                        <div class="row">
                            <div class="col-xs-6">
                            <div class="input-group span3">
                            <span class="input-group-addon" id="editTagsLabel">
                                    Tags </span>
                            <input type="text" name="editTags" placeholder="Tags, if any"
                            class="form-control">
                            </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-xs-12">
                            <div class="input-group">
                            <span class="input-group-addon" id="editQuestionLabel">
                                        Question </span>
                            <textarea form="analysisEditor" name="editQuestion" placeholder=
                            "Question Asked" class="form-control"></textarea>
                            </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-xs-12">
                            <div class="input-group">
                            <span class="input-group-addon" id="editAnswerLabel">
                                        Answer </span>
                            <textarea form="analysisEditor" name="editAnswer" placeholder=
                            "Answer(s) Found, If Any" class="form-control" rows="4"></textarea>
                            </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-xs-12">
                            <div class="input-group">
                            <span class="input-group-addon" id="editTreeLabel">
                                        Model Tree </span>
                            <textarea form="analysisEditor" name="editTree" placeholder=
                            "{'model','tree',{'specification'}}" class="form-control" height="2"></textarea>
                            </div>
                            </div>
                        </div>
                        
                        </div><!-- form-group -->
                        </div><!--container-->

                </div><!-- body -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Cancel</button>
                    
                    <!-- assign this as form submission -->
                    <button type="button" class="btn btn-primary" id="submitEditForm"
                    > Save Analysis </button>
                </div><!-- footer -->
            </div><!--content -->
        </div><!--dialog-->
    </div><!--modal-->

    <div class="modal" id="statusModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title"> Status Filters
                    <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </h3>
                </div><!-- header -->
                <div class="modal-body">
                    <select multiple id="statusFilters" class="form-control" size="7">
                            <option name="statusOption[]" value="__any" selected>
                                Any
                            </option>
                        {% for status in statuslist %}
                            <option name="statusOption[]" value='{{ status }}'>
                                {{ status }}
                            </option>
                        {% endfor %}
                    </select>
                </div><!-- body -->
            </div><!--content -->
        </div><!--dialog-->
    </div><!--modal-->

    <div class="modal" id="tagModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title"> Tag Filters
                    <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </h3>
                </div><!-- header -->
                <div class="modal-body">
                    <select multiple id="tagFilters" class="form-control" size="7">
                            <option name="tagOption[]" value="__any" selected>
                                Any
                            </option>
                        {% for tag in taglist %}
                            <option name="tagOption[]" value='{{ tag }}'>
                                {{ tag }}
                            </option>
                        {% endfor %}
                    </select>
                </div><!-- body -->
            </div><!--content -->
        </div><!--dialog-->
    </div><!--modal-->

    <div class="modal" id="colsModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title"> Table Columns
                    <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </h3>
                </div><!-- header -->
                <div class="modal-body">
                    <select multiple="multiple"
                            class="form-control" 
                            name="tablecolumns"
                            size="7"
                            id="tableColSelector"
                            autocomplete="off">
                    {% for col in collist %}
                        <option name="result-option[]"
                                value="{{ col }}">
                                {{ col }}
                        </option>
                    {% endfor %}
                    </select>
                </div><!-- body -->
            </div><!--content -->
        </div><!--dialog-->
    </div><!--modal-->
    
    <div id="loadingPopup">
        <div id="loadingMessage">
        </div>
    </div>
    
    <!-- hidden form for modelpane submission -->
    <div style="display:none;">
    <form class="form" id="modelpane" method="POST" target="_blank"
        action="{{ url_for('modelpane_view') }}">
        <input type="text" id="p_batch" name="batch" value="">
        <input type="text" id="p_cellid" name="cellid" value="">
        <input type="text" id="p_modelname" name="modelname" value="">
    </form>
    </div>
    
    <!-- hidden form for stat rep submission -->
    <div style="display:none;">
    <form class="form" id="batchPerfForm" method="POST" target="_blank"
          action="{{ url_for('batch_performance') }}">
          <input type="hidden" id="batchPerfBatch" name="bSelected" value="">
          <input type="hidden" id="batchPerfCells" name="cSelected" value="">
          <input type="hidden" id="batchPerfModels" name="mSelected" value="">
          <input type="hidden" id="batchPerfFindAll" name="findAll" value="">
    </form>
    </div>
    
    <!-- hidden form for fit rep submission -->
    <div style="display:none;">
    <form class="form" id="fitRepForm" method="POST" target="_blank"
          action="{{ url_for('fit_report') }}">
          <input type="hidden" id="fitRepBatch" name="bSelected" value="">
          <input type="hidden" id="fitRepCells" name="cSelected" value="">
          <input type="hidden" id="fitRepModels" name="mSelected" value="">
    </form>
    </div>
    
    <div style="display:none;" id="plotValDefaults">
        <input type="hidden" id="default_iso" value="{{ iso }}">
        <input type="hidden" id="default_snr" value="{{ snr }}">
        <input type="hidden" id="default_snri" value="{{ snri }}">
    </div>

    <div style="display:none;" id="defaultColsDiv">
        {% for col in defaultcols %}
            <input type="hidden" name="{{ col }}" value="{{ col }}">
        {% endfor %}
    </div>
    
    <!-- load jquery -->
    <!--
    <script type=text/javascript src=
        "{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>-->
    <!-- non-minified version. easier debugging? -->
    <script
              src="https://code.jquery.com/jquery-3.2.1.js"
              integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
              crossorigin="anonymous"></script>
        
    <!-- load jquery ui -->
    <script src=
        "https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- DataTables jQuery plugin -->    
    <script src=
    "https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
        
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
    crossorigin="anonymous"></script>
    
    <!-- socketio source -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
    
    <!-- ajax javascript -->
    <script type="text/javascript">
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>

    <!--
    <script type="text/javascript" src=
    "{{ url_for('static', filename='js/analysis_select.js') }}"></script> -->
    {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

  </body>
</html>
